@import "breakpoints";
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    border-radius: 3px;
    box-shadow: inset 0 0 10px rgba(155, 155, 155, 0.25);
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.024);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.314);
}


* {
    padding: 0;
    margin: 0;
}

.text {
    font-family: "Chakra Petch", sans-serif;
    color: rgba(255, 255, 255, 0.623);
}

.wrapper {
    color: white;
    background-color: #000000;
    //background-color: skyblue;
    height: 100dvh;
    width: 100%;
    overflow: hidden;
    scrollbar-width: 0;
}

.wrapper2 {
    color: white;
    //background-color: #121112;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    scrollbar-width: 0;
}

.cardlayer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(10,1,24);
    //background-color: rgba(135, 207, 235, 0.453);
    overflow: hidden;
    scrollbar-width: 0;
}

.content {
    @include xs {
        height: 80%;
        overflow-y: hidden;
    }

    @include lg {
        height: 85%;
        overflow-y: hidden;
    }



    width: 100%;
    
    //overflow-x: hidden; /* Hide horizontal scrollbar */
    scrollbar-width: 0;
    background-color: rgba(0, 0, 0, 0.575);
}

.content2 {
    @include xs {
        height: 80%;
    }

    @include lg {
        //margin-top: -0.25%;
        height: 85%;
        overflow: hidden;
    }



    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    scrollbar-width: 0;
    //background-color: rgba(0, 0, 0, 0.575);
}

.nav {
    display: flex;
    align-items: center;
    font-weight: 200;

    @include xs {
        flex-direction: column;
        justify-content: space-between;
        padding-top: 10px;
        width: 100%;
        height: 20%;
        border-top: 1px solid rgba(152, 150, 150, 0.1);
        box-sizing: border-box;
        background-color: rgba(0, 0, 0, 0.691);
        backdrop-filter: blur(19px);
        box-shadow: 0px 4px 80px rgba(0, 0, 0, 1);
    }

    @include lg {
        flex-direction: row;
        justify-content: center;
        //border: thin solid red;
        padding-top: 10px;
        width: 100%;
        height: 15%;
        border-top: 1px solid rgba(152, 150, 150, 0.15);
        box-sizing: border-box;
        background-image: linear-gradient(to bottom,
                rgba(44, 44, 44, 0777) rgba(44, 44, 44, 0.655));
        backdrop-filter: blur(20px);
        box-shadow: 10px 14px 90px rgba(0, 0, 0, 0.95);
    }
}

.visible {
    opacity: 0;
}
.visible2 {
    opacity: 0;
}

.navspan {
    display: flex;

    @include xs {
        //border: thin solid red;
        width: 90%;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: thin solid rgba(255, 255, 255, 0.036);
    }

    @include lg {
        width: 20%;
        //border: thin solid blue;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-bottom: thin solid rgba(255, 255, 255, 0.0);

    }
}

.nav :hover{
    cursor: pointer;
}

.navitem {
    @include xs {
        font-weight: 300;
        width: 90%;
    }

    @include lg {
        width: auto;
        font-size: 2.5rem;
        font-weight: 500;
        //border: thin solid yellow;
        //border-right: thin solid white;
    }
}

.arrow {
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.523);

    @include lg {
        visibility: hidden;
    }
}

.partition {
    background-color: white;
    height: 50%;
    width: 1px;

    @include xs {
        visibility: hidden;
    }

    @include lg {
        visibility: visible;
    }
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0%;
    //padding-right: 5%;
    font-size: 2rem;
    color: white;
    font-weight: 400;
    z-index: 5;
    //border: thin solid red;

    @include xs {
        width: 90%; 
        height: 0;
    };
    @include lg {
        width: 80%;
        height: 10%;
    };
}

.standin {
    height: 100%;
    @include xs {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    @include lg {
        padding-top: 25px;
        padding-bottom: 30px;
    }
}

.line {
    opacity: 0;
    height: 100%;
    width: 2px;

    @include xs {
        background: linear-gradient(to bottom, black, black, rgb(217, 0, 255) 99%);
    }

    @include lg {
        background: linear-gradient(to bottom,
                rgba(0, 0, 0, 0.21),
                rgba(0, 0, 0, 0.144),
                rgb(217, 1, 255) 99%);
    }
}

.default-link{
    text-decoration: none;
    color: white;
}

.cardwrapper {
    @include xs {
        //border-right: 2.5px solid rgba(255, 255, 255, 0.2);
        border-radius: 15px 15px 0px 0px;
        //border-right: thick solid white;
        width: 92.5%;
        height: 85%;
        //background-color: rgba(255, 255, 255, 0.05);
    }

    @include lg {
        //border-right: 2.45px solid rgba(255, 255, 255, 0.075);
        border-radius: 20px 20px 0px 0px;
        width: 80%;
        height: 85%;
    }
}

.aurora {
    z-index: -1;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-content: center;
    justify-content: center;
    opacity: 0.9;
    //margin: 95px;
    width: 100%;
    height: 100%;

    @include lg {
        margin-left: 25vw;
    }
}

.ball ::before {}

.ball {
    opacity: 0;
    margin: 50px;
    width: 57vh;
    height: 67vh;
    border-radius: 40%;
    background: linear-gradient(90deg,
            rgba(0, 0, 255, 0.554),
            rgba(107, 0, 128, 0.737)); 
    filter: blur(72px);

    @include lg {
        width: 65vw;
        height: 65vw;
        margin-left: -20%;
        filter: blur(102px);
    }
}

#ball2{
    @include xs{
        display: none
    };
    @include lg{
        display: inline
    };
}

.hero{
    //border: thin solid red;
    width: 99.7%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
}

.hero-underlier{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    //background-color: #2195f33f;
    @include xs{
        margin-top: 10%;
        width: 100%;
        height: 95%;
    };
    @include md{
        width: 75%;
        height: 65%;
    };
    @include lg{
        //margin-top: 60%;
        scale: 1.05;
        width: 80%;
        height: 95%;
    };
}

.hero-light{
    width: 80%;
    position: relative;
    
    filter: blur(170px);
    @include xs{
        height: 70%;
        border-radius: 50% 50% 0% 0%;
        background-color: #1451833d;
    };
    @include lg{
        height: 50%;
        border-radius: 60% 60% 0% 0%;
        background-color: #1451833d;
    }
}


.hero-stars {
    position: absolute;
    //margin-top: 60%;
    width: 350px;
    height: 400px;
    opacity: 0.85;
    overflow: hidden;
    //border: thin solid red;
    //background-image: url(../images/stars.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-animation:spin 120s linear infinite;
    -moz-animation:spin 120s linear infinite;
    animation:spin 120s linear infinite;
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

// @keyframes move-twink-back {
//     from { background-position: 0 0;}
//     to{background-position: -10000px 500px;}
// }

.stars{
    background:  url(https://i.imgur.com/PDOw7k2.png);
    
    height: 70%;
    @include xs{
        transform: translateX(-10%);
        width: 120%;
        opacity: 0.85;
    };
    @include md{
        transform: translateX(-25%);
        width: 90%;
        opacity: 0.20;
    }
    //z-index: 4;
}

.twinkling{
    background: transparent url(https://i.imgur.com/aljoapq.png) repeat top center;
    transform: translateY(-100%);
    opacity: 0.1;
    width: 100%;
    height: 70%;
    animation: move-twink-back 200s linear infinite;
}



.herowrapper{
    z-index: 3;
    //border: thin solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    //justify-content: center;
    text-align: center;

    @include xs{
        margin-top: 10%;
        width: 100%;
        height: 95%;
    };
    @include md{
        width: 75%;
        height: 65%;
    };
    @include lg{
        margin-top: -0.5%;
        scale: 1.05;
        width: 80%;
        height: 95%;
    };
}


.memoji{
    @include xs{
        width: 90%;
        height: auto;
        transform: translate(7%,0%)
    };
    @include md{
        width: calc(90% - 15px);
        height: auto;
        transform: translate(10%,10%)
    };
    @include lg{
        width: 80%;
        height: 100%;
        transform: translate(15%,-15%)
    };
}

.top-space{
    //border: thin solid red;
    width: 100%;
    @include xs{
        height: 15vh;
    };
    @include md{
        
    };
    @include lg{
        height: 25vh;
    };
}

.hey-there{
    //border: thin solid red;
    width: 100%;
    height: 3vh;
    font-size: 1.25rem;
    opacity: 0.65;
    font-weight: 400;
}

.first-name{
    //border: thin solid red;
    background: linear-gradient(to bottom  , #ffffff , #fcfcfc63 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 100%;
    font-weight: 700;
    justify-self: flex-start;
    @include xs{
        font-size: 3rem;
        height: 9.5vh;
    };
    @include lg{
        font-size: 5rem;
        height: 15vh;
    };
}

.description{
    
    
    width: 100%;
    height: 6vh;
    font-weight: 500;
    @include xs{
        font-size: 1.25rem;
        margin-top: 2.5%;
    };
    @include lg{
        font-size: 1.5rem;
        margin-top: 0%;
    };
}
.darker{
    opacity: 0.5;
}

.opportunity{
    //border: thin solid red; 
    align-self: center;
    display: flex;
    width: auto;
    @include xs{       
        margin-top: 1%;
        font-size: 1.25rem;
    };
    @include lg{
        margin-top: 0.5%;
        font-size: 1.5rem;
    };
}

.opportunity-larger{
    font-size: 1.5rem;
    //font-size: 1rem;
    padding: 7.5px;
}

.hero-links{
    
    height: 5vh;
    display: flex;
    flex-direction: row;
    //border: thin solid red;
    align-items: center;
    justify-content: space-between;

    @include xs{
        width: 90%;
        padding-top: 4vh;
        scale: 0.8;
    };
    @include lg{
        width: 40%;
        margin-bottom: -5%;
        scale: 1;
    }
}

.link{
    cursor: pointer;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.2rem;
    height: auto;
    padding: 5px;
    @include xs{
        width: 27.5%;
    };
    @include lg{
        width: 21%;
    }
}

.link:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

.planet{
    z-index: 1;
    @include xs{
        width: 70vh;
        height: 30vh;
        transform: translateY(45%);
        border-radius: 50% 50% 50% 50%;
        border: 1.5px solid #14599296;
        background-image: linear-gradient(to bottom  , #1a5d9443 , black 50%);
    };
    @include md{
        width: 90vh;
        height: 45vh;
        transform: translateY(80.5%);
        border-radius: 50% 50% 50% 50%;
        border: 1.5px solid #14599296;
        background-image: linear-gradient(to bottom  , #1a5d9433 , black 50%);
    };
    @include lg{
        margin-top: -6%;
        width: 100vh;
        height: 40vh;
        transform: translateY(75.5%);
        //border-radius: 50% 50% 50% 50%;
        border: 1.5px solid #14599296;
        background-image: linear-gradient(to bottom  , #1a5d9433 , black 50%);
    };
}


.card {
    //backdrop-filter: blur(55px);
    backface-visibility: hidden;
    perspective: 1000;
    
    border: 2.5px solid rgba(255, 255, 255, 0.2);
    border-right: rgba(255, 255, 255, 0.4);
    border-bottom: rgba(255, 255, 255, 0.4);
    
    @include xs {
        background: linear-gradient(-135deg,
                rgba(227, 206, 206, 0.311) 25%,
                rgba(227, 206, 206, 0.224));
        //background-color: rgba(255, 255, 255, 0.051);
        //background: linear-gradient(to right , rgba(0, 128, 0, 0.621) 15%,  rgba(53, 154, 42, 0.33) 55%, rgba(0, 128, 0, 0.286));
        border-radius: 15px 15px 0px 0px;
        width: 100;
        height: 100%;
    }

    @include lg {
        background: linear-gradient(-135deg,
                rgba(227, 206, 206, 0.251) 25%,
                rgba(227, 206, 206, 0.174));
        //background-color: rgba(255, 255, 255, 0.051);
        //background: linear-gradient(to right , rgba(0, 128, 0, 0.621) 20%,  black 55%,rgba(0, 128, 0, 0.286));
        //background: url(/src/images/testface.png);
        border-radius: 20px 20px 0px 0px;
        width: 100%;
        height: 100%;
        padding-right: 10px;
    }
}

.testface {
    @include xs {
        //background: url(../images/10782112.jpg) ;
        background-size: cover;
        border-radius: 20px 20px 0px 0px;
        width: 100%;
        height: 100%;
    }

    @include lg {
        //background: url(../images/10782112.jpg) ;
        background-size: cover;
        border-radius: 40px 40px 0px 0px;
        width: 100%;
        height: 100%;
    }
}

.subcard {
    opacity: 1;
    // margin-left: 10%;
    // margin-top: 35%;

    border-radius: 15px;
    backface-visibility: hidden;
    perspective: 15cm;
    transform: translate3d(0, 0, 0);
    transform: translateZ(0);
    //background-color: rgba(112, 105, 105, 0.199);
    background: linear-gradient(135deg,
            rgba(80, 68, 68, 0.22) 5%,
            rgba(0, 0, 0, 0.344));
    border: 1px solid rgba(240, 214, 214, 0.179);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.5);

    @include xs {
        // width: 80vw;
        // height: 40vh;
    }

    @include lg {
        margin-left: 15vw;
        // width: 70vw;
        // height: 40vh;
    }
}

.subcard3 {
    opacity: 0;
    margin-left: 10%;
    margin-top: 25%;
    border-radius: 15px;
    //backdrop-filter: blur(262px);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0, 0, 0);
    transform: translateZ(0);
    //background-color: rgba(112, 105, 105, 0.199);
    background: linear-gradient(45deg,
            rgba(66, 59, 59, 0.2) 5%,
            rgba(0, 0, 0, 0.344));
    border: 1px solid rgba(240, 214, 214, 0.279);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.5);

    @include xs {
        width: 80vw;
        height: 40vh;
    }

    @include lg {
        margin-left: 15vw;
        width: 70vw;
        height: 40vh;
    }
}

.contentlayer {
    position: absolute;
    width: 100%;
    height: 100%;
    //background-color: blue;
    overflow-y: hidden;
    scrollbar-width: 0;
    display: row;
    align-items: center;
    justify-content: center;
}

.section{

    @include xs {
        margin-left: 5%;
        margin-top: 8vh;
        width: 90.5%;
        height: 66.5vh;
        overflow-x: hidden;
    }

    @include lg {
        margin-left: 10%;
        margin-top: 13vh;
        width: 80%;
        height: 84.9%;
        //margin-top: -1px;
    }
}

.sectionextended{
    
    //border: thin solid red;

    @include xs {
        margin-left: 5%;
        margin-top: 8vh;
        width: 91.6%;
        height: 70.5vh;
    }

    @include lg {
        margin-left: 10%;
        margin-top: 13vh;
        width: 90%;
        height: 84%;
    }
}

.about{
    display: flex;
    opacity: 1;
    @include xs{
        flex-direction: column;
        overflow-y: auto;
    }
    @include lg{
        flex-direction: row;
        overflow: hidden;
    }
}

.bigtext{
    opacity: 0;
    font-size: 3rem;
    @include xs{
        padding: 0.125rem;
    };
    @include lg{
        padding: 0.5rem;
    }
}

.midtext{
    font-size: 2rem;
}
.smidtext{
    font-size: 1.75rem;
}
.smalltext{
    font-size: 1rem;
    
}
// .header{
//     text-decoration: underline;
//     text-decoration-thickness: 2px;
//     text-underline-offset: 3px;
//     text-decoration-color: rgba(255, 255, 255, 0.214);
// }
.underlinewrapper{
    width: 100%;
    height: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.classname{
    opacity: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.01);
}


.side{
    @include xs{
        height: 30%;
        width: 99%;
        //border: thin solid green;
    };
    @include lg{
        height: 98%;
        width: 40%;
        margin-left: 10px;
        //border: thin solid green;
    };
}

.blur{
    border-radius: 15px;
    //background-color: rgba(255, 255, 255, 0.05);
    background:linear-gradient(45deg, rgba(255, 255, 255, 0.2) 2%, rgba(255,255,255,0.075) 100%), url(../images/dehance.png);
        background-size: contain;
        background-repeat: repeat;
    backdrop-filter: blur(30px);
    box-shadow: 0px 2px 17px rgba(0, 0, 0, 0.5);
    @include xs{
        border: 1px solid rgba(178, 164, 135, 0.219);
    };
    @include lg{
        border: 1px solid rgba(178, 164, 135, 0.3);
    };
}


.blurbio{
    overflow: auto;
    padding-top: 0%;
    border-radius: 15px;
    background:linear-gradient(45deg, rgba(255, 255, 255, 0.15) 2%, rgba(255,255,255,0.075) 100%), url(../images/dehance.png);
        background-size: contain;
        background-repeat: repeat;
    
    box-shadow: 0px 2px 17px rgba(0, 0, 0, 0.5);
    @include xs{
        border: 1px solid rgba(178, 164, 135, 0.219);
    };
    @include lg{
        border: 1px solid rgba(178, 164, 135, 0.179);
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    };

    &::-webkit-scrollbar {
        width: 5px;
        
        //margin-left: 2px;
        
    }
    
    &::-webkit-scrollbar-track {
        border-radius: 7.5px;
        //background-color: red;
        box-shadow: inset 0 0 10px rgba(155, 155, 155, 0);
        //border: 5px solid rgba(255, 255, 255, 0);
    }
    
    &::-webkit-scrollbar-thumb {
        border-radius: 7.5px;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 6%, rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.5)95%);
        //background: white;
    }
}




.bio{
    opacity: 0;
    @include xs{
        height: 60%;
        width: 98%;
        margin-bottom: 8px;
        margin-top: 12px;
    };
    @include lg{
        margin-top: 10px;
        height: 96%;
        width: 59%;
        margin-left: 12px;
        //border: thin solid blue;
    };
}

.swaptab{
    opacity: 0;
    @include xs{
        width: 98%;
        align-self: center;
        margin-top: 6%;
        height: 7.5%;
        margin-bottom: .5%; 
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1.5rem;
    };
    @include lg{
        width: 0;
        height: 0;
        visibility: hidden;
        margin-bottom: 0%;
    }
}

.biotab{
    display: flex;
    justify-content: center;
    height: 95%;
    width: 49.5%;
    margin-left: 0%;
}

.skillstab{
    display: flex;
    justify-content: center;
    height: 95%;
    width: 49.5%;
    margin-right: 0%;
}



#biotabradio{
    display: none;
}

#skillstabradio{
    display: none;
}

.someData{
    display: none;
}

.activeTab{
    display: block;
}

.highlightTab{
    background-color: rgba(255, 255, 255, 0.142);
    border-radius: 10px;
}


.header{
    
    @include xs{
        //background-color: yellow;
        height: 30%;
        width: 99%;
    }
    @include lg{
        //background-color: yellow;
        height: 15%;
        width: 100%;
    }
}

.linksbio{
    
    display: flex;
    margin-bottom: 12px;
    @include xs{
        flex-direction: row;
        width: 99%;
        height: 12.5vh;
        //border: thin solid yellow;
    }
    @include lg{
        flex-direction: row;
        width: 100%;
        height: 30%;
        //border: thin solid yellow;
    }
}

.links{
    margin-top: 6%;
    opacity: 0;
    width: 40%;
    height: 100%;
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    justify-content: end;
}

.biotext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    
    width: 60%;
    height: 100%;
    //margin-bottom: 12px;
}

.biotexttext{
    opacity: 0;
    font-size: 1.5rem;
    @include lg{
        margin-left: 10%;
    }
    //align-self: ;
}

.bio-content{
    font-size: 1.35rem;
    padding: 5px;
    overflow: auto;
    @include lg{
        font-size: 1.85rem;
        font-weight: 200;
    }
}

.firstskills{
    opacity: 0;
    @include xs{
        display: none;
        //overflow-y: auto;
    };
    @include lg{
       display: flex;
       flex-direction: column;
       //padding-left: 2%;
       width: 100%;
       height: 53%;
       //background-color: aquamarine;
    };
}

.list-header{
    margin-left: 3%;
    margin-top: 3%;
}

.skill-list{
    @include xs{
        display: flex;
        margin-top: 1%;
        width: 100%;
        justify-content: flex-start;
    };
    @include md{
        display: flex;
        margin-top: 2%;
        width: 100%;
        justify-content: flex-start;
    };
}

.skill-list > li{
    @include xs{
        list-style: none;
        margin-left: 2.5%; 
    };
    @include md{
        list-style: none;
        margin-left: 5%; 
        margin-top: -0.5%;
    };
}

.list-header{
    @include xs{
        font-size: 1.25rem;
        opacity: 0.4;
        text-decoration: underline;
        margin-top: 5%;
    };
    @include xs{
        font-size: 1.25rem;
        opacity: 0.4;
        text-decoration: underline;
        margin-top: 5%;
    };
}

.secondskills{
    opacity: 0;
    @include xs{
        display: flex;
        width: 99%;
        height: 30%;
        //border: thin solid grey;
    };
    @include lg{
        display: none;
      };
}

.about-button{
    
    margin-bottom: 7%;
    border: thin solid rgba(191, 183, 153, 0.35);
    background-color: #121112b8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0.5;

    @include xs{
        width: 95%;
        height: 22%;
        padding: 8px 10px;
    };
    @include lg{
        width: 92%;
        height: 22%;
        padding: 5px 8px;
    };
}

.about-button:hover{
    opacity: 0.8;
    cursor: pointer;
}

.alertwrapper{
    width: auto;
    height: 100%; 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: right;
    //margin-top: 5%;
    //border: thin solid blue;
}
.alert {
    width: auto;
    height: auto; 
    background-color: rgba(255, 255, 255, 0.723);
    color: white;
    position: absolute;
    z-index: 7;
    display: none;
    //margin-top: 5%;
    @include xs{
        margin-top: 20%;
    };
    @include lg{
        margin-top: 5%;
    }
  }

  .gif {
    padding: 9px;
    //background-image: url(/src/images/gif.gif);
    background-size: contain;

    @include xs{
        width: 80vw;
        height: 46vw;
        
    };
    @include lg{
        width: 30vw;
        height: 36vh;
    }
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .icon{
    scale: 0.75;
  }

  .project{
    
    display: flex;
    @include xs{
        flex-direction: column;
    };
    @include lg{
        flex-direction: row;
    };
  }

  .projectside{
    opacity: 0;
    z-index: 2;
    @include xs{
        width: 100%;
        height: 20%;
        margin-bottom: 1%;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 15px 15px 0px 0px;
        margin-top: -0.75%;
        margin-left: -0.5%;
        backdrop-filter: blur(55px);
        transform: translate3d(0, 0, 0);
        transform: translateZ(0);
        border-bottom: 1.25px solid rgba(255, 255, 255, 0.135);
    };
    @include lg{
        position: absolute;
        width: 30%;
        height: 72.2%;
        justify-content: space-between;
        // background-color: #00000021;
        background-image: url(../images/dehance.png);
        
        background-size: contain;
        background-repeat: repeat;
        border-right: 1px solid rgba(255, 255, 255, 0.035);
        border-bottom: 2px solid rgba(255, 255, 255, 0);
        border-radius: 20px 0px 0px 0px;
        margin-top: -0.2%;
        margin-left: 0.1%;
        box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.155);
        backdrop-filter: blur(58px);
        transform: translate3d(0, 0, 0);
        transform: translateZ(0);
        box-shadow: inset 0 -90px 90px -90px rgba(0, 0, 0, 0.4);
    };
  }


  .projectcontent{
    opacity: 0;
    
    //overflow-x: scroll;
    display: flex;
    @include xs{
        width: 120%;
        height: 68%;
        //background-color: #e717e74f;
        margin-left: -0.5%;
    };
    @include lg{
        width: 100%;
        height: 100%;
        margin-left: 0;
        overflow-x: scroll;
        //background-color: #e717e74f;

    };
}

.projectside-content{
    opacity: 0;
    @include xs{
        display: none;
    };
    @include lg{
        display: flex;
        flex-direction: column;
        align-content: space-around;
        justify-content: space-evenly;
        margin-top: -10%;
        font-size: 1.5rem;
        margin-left: 2.5%;
        width: 100%;
        height: 70%;
        //border: thin solid red;
    }
}

.projectswrapper{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    
    width: 150%;

    @include xs{
        padding-right: 10%;
        height: 106.5%;
    };
    @include lg{
        padding-right: 0%;
        margin-left: 5px;
        height: 98%;
    };
    
}


.projectitem{
    cursor: grab;
    //background-color: #2196F3;
    opacity: 0.8;
    margin: 3%;
    margin-left: 0;
    @include xs{
        min-width: 77%; 
        height: 95%;
    };
    @include lg{
        min-width: 40%; 
        height: 90%;
    };
}

.dragscroll {
 cursor : -o-grab; cursor : -moz-grab; cursor : -webkit-grab;
  }

.space{
    
    @include xs{
        min-width: 4.5%;
        height: 30px;
    };
    @include lg{
        min-width: 40%;
        height: 30px;
    };
}

.space2{
    
    @include xs{
        min-width: 8.5%;
        height: 30px;
    };
    @include lg{
        min-width: 20%;
        height: 30px;
    };
}

.eye {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.201), rgba(27, 27, 27, 0.188) 30%);
  border-top: 2.5px solid rgba(255, 255, 255, 0.323);
  border-left: 1px solid rgba(255, 255, 255, 0.05);
  border-right: 1px solid rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  width: 45px;
  height: 30px;
  border-radius: 50% 50% 50% 50%;
  padding-top: 3px;
  padding-bottom: 1px;
  position: absolute;
  
  transform: translateX(-50%);
  //top: 50%;
//   margin-left: -100px;
//   margin-top: -100px;
  overflow: hidden;
  @include xs{
    display: none;
    };
    @include lg{
        display: block;
    };
}
.pupil {
  background: rgba(255, 255, 255, 0.242);
  width: 20px;
  height: 20px;
  border: 1.5px solid rgba(255, 255, 255, 0.273);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
}
.eye2 {
  margin-left: 5%;
}

.eyewrapper{
    margin-left: 46%;
    cursor: pointer;
    margin-top: -2%;
    opacity: 0;
    height: 100%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    //border: thin solid red;
    
}

.eyewrapper:hover .eye1{
    scale: 1 0.92;
    transform: rotate(-10deg) translatex(-50%) translatey(-20%);
    
}

.eyewrapper:hover .eye2{
    scale: 1 0.92;
    transform: rotate(10deg) translatex(-50%) ;
}

.eyewrapper:hover .eye1 .pupil{
    scale: 1.1; 
    transform: translateX(100%);
}

.eyewrapper:hover .eye2 .pupil{
    scale: 1.1;
    transform: translateX(-100%);
}

.x{
    
    @include xs{
        display: block;
        opacity: 1;
        transform: translateY(-50%)
    };
    @include lg{
        transform: translatex(200%);
        display: none;
    };
}

.contact{
    //border: thin solid orange;
    display: flex;
    overflow: hidden;
    @include xs{
        flex-direction: column-reverse;
    };
    @include lg{
        flex-direction: row;
        transform: translateY(-2px);
        //transform: translateX(-2px);
    };
}

.contactside{
    opacity: 0;
    z-index: 2;
    @include xs{
        width: 98.5%;
        height: 30%;
        margin-bottom: 1%;
        background-color: #4d4a4a0e;
        background: rgba(255, 255, 255, 0.1);
        z-index: 5;
        //border: thin solid blue;
        //border-bottom: 1.25px solid rgba(255, 255, 255, 0.135);
    };
    @include lg{
        width: 35%;
        height: 100%;
        border-radius: 20px 0px 0px 0px;
        background:linear-gradient(45deg, rgba(255, 255, 255, 0.15) 2%, rgba(255,255,255,0.075) 100%), url(../images/dehance.png);
        background-size: contain;
        background-repeat: repeat;
        border-right: 1px solid rgba(255, 255, 255, 0.035);
        border-bottom: 3px solid rgba(255, 255, 255, 0.012);
        border-top: 1px solid rgba(255, 255, 255, 0.012);
        //border-radius: 30px 0px 0px 0px;
        // margin-top: -1%;
        //background: none;
        margin-left: 0.2%;
        margin-right: 4.25%;
        transform: translateY();
        box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.155);
    };
  }


.contactcontent{
    opacity: 0;
    border-top: 2px solid rgba(255, 255, 255, 0.125);
    border-left: 2px solid rgba(255, 255, 255, 0.125);
    border-right: 2px solid rgba(255, 255, 255, 0.125);
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    //background-color: rgba(255, 255, 255, 0.055);
    @include xs{
        align-self: center;
        width: 95%;
        height: 70%;
        margin-top: 2%;
        // margin-bottom: -5%;
        border-radius: 15px 15px 0 0 ;
        background-color: rgba(0, 0, 0, 0.175);
    };
    @include lg{
        width: 58%;
        height: 92%;
        margin-top: 5%;
        border-radius: 20px 20px 0 0 ;
        background-color: rgba(255, 255, 255, 0.02);
    }
}

.random-word {
    //border: thin solid red;
    font-weight: 300;
    @include xs{
        text-align: left;
        font-size: 1.75rem;
        height: 25%;
        width: 90%;
        margin-left: 5%;
        margin-top: 5%;
        align-self: center;
    };
    @include md{
        font-size: 2.25rem;
    };
    @include lg{
        //border: thin solid red;
        justify-self: center;
        align-self: flex-start;
        height: 25%;
        width: 80%;
        margin-left: 3%;
        margin-top: 12%;
        font-weight: 400;
        text-align: start;
        font-size: 2.25rem;
        //padding-left: 3%;
    }
  }
  
  @keyframes slidedown {
    0% {
      opacity: 50;
    }
    
    5% {
      opacity: 0;
      transform: translateY(0.5em);
    }
    
    7% {
      transform: translateY(-1em);
    }
    
    10% {
      opacity: 0;
    }
    
    20% {
      transform: translateY(0);
      opacity: 100;
    }
  }

.sociallinks{
    opacity: 0;
    display: flex;
    //justify-content: space-between;
    @include xs{
        margin-top: 10%;
        justify-self: center;
        justify-content: space-around;
    };
    @include lg{
        margin-top: 0;
        margin-left: 3%;
        width: 60%;
        justify-content: space-between;
    };
}

.project-item-wrapper{
    margin: 10px;
}
.project-item-image{
    width: 100%;
    height: 40%;
    border-radius: 5px;
}
.underline{
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
}

.project-item-header{
    font-size: 1.75rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.project-item-tags{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 1%;
}
.project-item-tag{
    background-color: rgba(255, 255, 255, 0.3);
    
    margin-left: 3%;
    padding: 3px;
    border-radius: 7.5px;

    @include xs{
        margin-top: 5%;
        font-size: 0.75rem;
    };
    @include lg{
        margin-top: 1%;
        font-size: 1rem;
    };
}
.project-item-name{
    
}
.project-item-description{
    margin-top: 2%;
    font-size: 1rem;
}

.form-wrapper{
    width: 100%;
    //border:thin solid red;
    border-radius: 15px 15px 0 0;
    margin-top: -0.25px;
    display: flex;
    flex-direction: column-reverse;

    @include xs{
        height: 98%;
    };
    @include lg{
        height: 96%;
    };
}

.input-wrapper{
    display: flex;
    overflow-x: hidden;
}

.chat{
    background-color: white;
    border-radius: 35px;
    height: auto;
    cursor: pointer;
    margin-left: 2.5%;
    min-width: 95%;
    display: flex;
    //align-items: stretch;
    margin-top: 1vh;
    @include xs{
        padding-top: 1vh;
        height: 6.5vh;
    };
    @include md{
        padding-top: 0vh;
        height: 8.5vh;
    };
}

.chatOne{
    opacity: 0.25;
    cursor: default !important;
}

.chatOne > input{
    //opacity: 0.25;
    cursor: pointer !important;
}
.chat-visible{
    display: block;
}
.chat-hidden{
    display: none;
}

.name-input, .mail-input, .message-input, .follow-up-input{
    
    width: 75%;
    border-radius: 25px;
    color: orange;
    border: none;
    margin-left: 5%;
    
    @include xs{
        height: 5vh;
        font-size: 1em;
        
    };
    @include md{
        height: 8.5vh;
        font-size: 1.15em;
        margin-bottom: 0;
    };
    
}

.name-input:focus, .mail-input:focus, .message-input:focus, .follow-up-input:focus{
    outline: none;
}

.chat-button{
    border-radius: 50%;
    @include xs{
        width: 35px;
        height: 35px;
    };
    @include md{
        width: 45px;
        height: 45px;
    };
}

.form-label{
    color: orange;
}
.chat-display{
    width: 100%;
    border-top: thin solid rgba(255, 255, 255, 0.2);
    border-bottom: thin solid rgba(255, 255, 255, 0.2);
    box-shadow: inset 0px 0px 10px #0000005d;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    @include xs{
        height: 60%;
    };
    @include md{
        height: 70%;
    };
    
}

.you-chat{
    opacity: 0;
    justify-content: center;
    display: none;
    min-height: auto;
    margin: 1.25%;
    background-color: rgba(255, 255, 255, 0.45);
    border: 1.5px solid white;
    border-radius: 35px 35px 35px 0px;
    padding: 5px 25px 5px 25px;

    @include xs{
        width: 59.5%;
        font-size: 0.85rem;
    };

    @include lg{
        width: 39.5%;
        font-size: 1rem;
    }
}
.me-chat{
    opacity: 0;
    display: none;
    min-height: auto;
    margin: 1.25%;
    align-self: flex-end;
    background-color: rgba(221, 0, 255, 0.35);
    border: 1.5px solid rgb(228, 0, 253);
    border-radius: 35px 35px 0px 35px;
    padding: 5px 25px 5px 25px;
    @include xs{
        width: 59.5%;
        font-size: 0.8  5rem;
    };

    @include lg{
        width: 39.5%;
        font-size: 1rem;
    }
}

.chat-text-wrap{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    width: 95%;
    //height: 80%;
    align-self: center;
    justify-self: center;
    margin-left: 1.5%;
    word-wrap: break-word;
    //border: thin solid yellow;

    @include xs{
        font-size: rem;
    };
    @include md{
        font-size: 1.25rem;
    };
}

.typing{
    //position: absolute;
    @include xs{
        width: 50%;
        height: 100%;
    };
    @include lg{
        width: 25%;
        height: 50%;
    };  
}

.chat-wrap-you{
    display: none;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    width: 90%;
    //height: 80%;
    align-self: center;
    justify-self: center;
    margin-left: 1.5%;
    word-wrap: break-word;
    //border: thin solid yellow;

    @include xs{
        font-size: rem;
    };
    @include md{
        font-size: 1.25rem;
    };
}
