@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 10px rgba(155, 155, 155, 0.25);
          box-shadow: inset 0 0 10px rgba(155, 155, 155, 0.25);
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.024);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.314);
}

* {
  padding: 0;
  margin: 0;
}

.text {
  font-family: "Chakra Petch", sans-serif;
  color: rgba(255, 255, 255, 0.623);
}

.wrapper {
  color: white;
  background-color: #000000;
  height: 100dvh;
  width: 100%;
  overflow: hidden;
  scrollbar-width: 0;
}

.wrapper2 {
  color: white;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  scrollbar-width: 0;
}

.cardlayer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #121112;
  overflow: hidden;
  scrollbar-width: 0;
}

.content {
  width: 100%;
  scrollbar-width: 0;
  background-color: rgba(0, 0, 0, 0.575);
}

@media (min-width: 0px) {
  .content {
    height: 80%;
    overflow-y: hidden;
  }
}

@media (min-width: 960px) {
  .content {
    height: 85%;
    overflow-y: hidden;
  }
}

.content2 {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
  scrollbar-width: 0;
}

@media (min-width: 0px) {
  .content2 {
    height: 80%;
  }
}

@media (min-width: 960px) {
  .content2 {
    height: 85%;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 200;
}

@media (min-width: 0px) {
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 10px;
    width: 100%;
    height: 20%;
    border-top: 1px solid rgba(152, 150, 150, 0.1);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.691);
    -webkit-backdrop-filter: blur(19px);
            backdrop-filter: blur(19px);
    -webkit-box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.415);
            box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.415);
  }
}

@media (min-width: 960px) {
  .nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 10px;
    width: 100%;
    height: 15%;
    border-top: 1px solid rgba(152, 150, 150, 0.15);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2c2c2c));
    background-image: linear-gradient(to bottom, #2c2c2c rgba(44, 44, 44, 0.655));
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    -webkit-box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.95);
            box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.95);
  }
}

.visible {
  opacity: 0;
}

.visible2 {
  opacity: 0;
}

.navspan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 0px) {
  .navspan {
    width: 90%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: thin solid rgba(255, 255, 255, 0.036);
  }
}

@media (min-width: 960px) {
  .navspan {
    width: 20%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom: thin solid rgba(255, 255, 255, 0);
  }
}

.nav :hover {
  cursor: pointer;
}

@media (min-width: 0px) {
  .navitem {
    font-weight: 300;
    width: 90%;
  }
}

@media (min-width: 960px) {
  .navitem {
    width: auto;
    font-size: 2.5rem;
    font-weight: 500;
  }
}

.arrow {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.523);
}

@media (min-width: 960px) {
  .arrow {
    visibility: hidden;
  }
}

.partition {
  background-color: white;
  height: 50%;
  width: 1px;
}

@media (min-width: 0px) {
  .partition {
    visibility: hidden;
  }
}

@media (min-width: 960px) {
  .partition {
    visibility: visible;
  }
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0%;
  font-size: 2rem;
  color: white;
  font-weight: 400;
  z-index: 5;
}

@media (min-width: 0px) {
  .top {
    width: 90%;
    height: 0;
  }
}

@media (min-width: 960px) {
  .top {
    width: 80%;
    height: 10%;
  }
}

.standin {
  height: 100%;
}

@media (min-width: 0px) {
  .standin {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (min-width: 960px) {
  .standin {
    padding-top: 25px;
    padding-bottom: 30px;
  }
}

.line {
  opacity: 0;
  height: 100%;
  width: 2px;
}

@media (min-width: 0px) {
  .line {
    background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(black), color-stop(99%, #d900ff));
    background: linear-gradient(to bottom, black, black, #d900ff 99%);
  }
}

@media (min-width: 960px) {
  .line {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.21)), color-stop(rgba(0, 0, 0, 0.144)), color-stop(99%, #d901ff));
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.21), rgba(0, 0, 0, 0.144), #d901ff 99%);
  }
}

.default-link {
  text-decoration: none;
  color: white;
}

@media (min-width: 0px) {
  .cardwrapper {
    border-radius: 15px 15px 0px 0px;
    width: 92.5%;
    height: 85%;
  }
}

@media (min-width: 960px) {
  .cardwrapper {
    border-radius: 20px 20px 0px 0px;
    width: 80%;
    height: 85%;
  }
}

.aurora {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.9;
  width: 100%;
  height: 100%;
}

@media (min-width: 960px) {
  .aurora {
    margin-left: 25vw;
  }
}

.ball {
  opacity: 0;
  margin: 50px;
  width: 57vh;
  height: 57vh;
  border-radius: 40%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 255, 0.554)), to(rgba(107, 0, 128, 0.737)));
  background: linear-gradient(90deg, rgba(0, 0, 255, 0.554), rgba(107, 0, 128, 0.737));
  -webkit-filter: blur(72px);
          filter: blur(72px);
}

@media (min-width: 960px) {
  .ball {
    width: 65vw;
    height: 65vw;
    margin-left: -20%;
    -webkit-filter: blur(102px);
            filter: blur(102px);
  }
}

.hero {
  width: 99.7%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.hero-underlier {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (min-width: 0px) {
  .hero-underlier {
    margin-top: 10%;
    width: 100%;
    height: 95%;
  }
}

@media (min-width: 720px) {
  .hero-underlier {
    width: 75%;
    height: 65%;
  }
}

@media (min-width: 960px) {
  .hero-underlier {
    margin-top: 0.5%;
    scale: 1.05;
    width: 80%;
    height: 95%;
  }
}

.hero-light {
  width: 80%;
  position: relative;
  -webkit-filter: blur(170px);
          filter: blur(170px);
}

@media (min-width: 0px) {
  .hero-light {
    height: 70%;
    border-radius: 50% 50% 0% 0%;
    background-color: #1451834d;
  }
}

@media (min-width: 960px) {
  .hero-light {
    height: 50%;
    border-radius: 60% 60% 0% 0%;
    background-color: #1451833d;
  }
}

.hero-stars {
  position: absolute;
  width: 70%;
  height: 60%;
}

.stars {
  background: url(https://i.imgur.com/PDOw7k2.png);
  height: 70%;
}

@media (min-width: 0px) {
  .stars {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
    width: 120%;
    opacity: 0.85;
  }
}

@media (min-width: 720px) {
  .stars {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
    width: 90%;
    opacity: 0.20;
  }
}

.twinkling {
  background: transparent url(https://i.imgur.com/aljoapq.png) repeat top center;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0.1;
  width: 100%;
  height: 70%;
  -webkit-animation: move-twink-back 200s linear infinite;
          animation: move-twink-back 200s linear infinite;
}

.herowrapper {
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media (min-width: 0px) {
  .herowrapper {
    margin-top: 10%;
    width: 100%;
    height: 95%;
  }
}

@media (min-width: 720px) {
  .herowrapper {
    width: 75%;
    height: 65%;
  }
}

@media (min-width: 960px) {
  .herowrapper {
    margin-top: 0.5%;
    scale: 1.05;
    width: 80%;
    height: 95%;
  }
}

@media (min-width: 0px) {
  .memoji {
    width: calc(100% - 10px);
    height: auto;
    -webkit-transform: translate(7%, -10%);
            transform: translate(7%, -10%);
  }
}

@media (min-width: 720px) {
  .memoji {
    width: calc(90% - 15px);
    height: auto;
    -webkit-transform: translate(10%, 10%);
            transform: translate(10%, 10%);
  }
}

@media (min-width: 960px) {
  .memoji {
    width: 80%;
    height: 100%;
    -webkit-transform: translate(15%, -15%);
            transform: translate(15%, -15%);
  }
}

.top-space {
  width: 100%;
}

@media (min-width: 0px) {
  .top-space {
    height: 15vh;
  }
}

@media (min-width: 960px) {
  .top-space {
    height: 25vh;
  }
}

.hey-there {
  width: 100%;
  height: 3vh;
  font-size: 1.25rem;
  opacity: 0.65;
  font-weight: 400;
}

.first-name {
  width: 100%;
  font-weight: 700;
  justify-self: flex-start;
}

@media (min-width: 0px) {
  .first-name {
    font-size: 3rem;
    height: 7.5vh;
  }
}

@media (min-width: 960px) {
  .first-name {
    font-size: 5rem;
    height: 15vh;
  }
}

.description {
  width: 100%;
  height: 6vh;
  font-weight: 500;
}

@media (min-width: 0px) {
  .description {
    font-size: 1.25rem;
    margin-top: 2.5%;
  }
}

@media (min-width: 960px) {
  .description {
    font-size: 1.5rem;
    margin-top: 0%;
  }
}

.darker {
  opacity: 0.5;
}

.opportunity {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}

@media (min-width: 0px) {
  .opportunity {
    margin-top: 1%;
    font-size: 1.25rem;
  }
}

@media (min-width: 960px) {
  .opportunity {
    margin-top: 0.5%;
    font-size: 1.5rem;
  }
}

.opportunity-larger {
  font-size: 1.5rem;
  padding: 7.5px;
}

.hero-links {
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 0px) {
  .hero-links {
    width: 90%;
    padding-top: 6.5vh;
    scale: 0.8;
  }
}

@media (min-width: 960px) {
  .hero-links {
    width: 40%;
    margin-bottom: -5%;
    scale: 1;
  }
}

.link {
  cursor: pointer;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.2rem;
  height: auto;
  padding: 5px;
}

@media (min-width: 0px) {
  .link {
    width: 27.5%;
  }
}

@media (min-width: 960px) {
  .link {
    width: 21%;
  }
}

.link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.planet {
  z-index: 1;
}

@media (min-width: 0px) {
  .planet {
    width: 70vh;
    height: 30vh;
    -webkit-transform: translateY(45%);
            transform: translateY(45%);
    border-radius: 50% 50% 50% 50%;
    border: 1.5px solid #14599296;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1a5d9443), color-stop(50%, black));
    background-image: linear-gradient(to bottom, #1a5d9443, black 50%);
  }
}

@media (min-width: 720px) {
  .planet {
    width: 90vh;
    height: 45vh;
    -webkit-transform: translateY(80.5%);
            transform: translateY(80.5%);
    border-radius: 50% 50% 50% 50%;
    border: 1.5px solid #14599296;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1a5d9433), color-stop(50%, black));
    background-image: linear-gradient(to bottom, #1a5d9433, black 50%);
  }
}

@media (min-width: 960px) {
  .planet {
    margin-top: -6%;
    width: 100vh;
    height: 40vh;
    -webkit-transform: translateY(75.5%);
            transform: translateY(75.5%);
    border-radius: 50% 50% 50% 50%;
    border: 1.5px solid #14599296;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1a5d9433), color-stop(50%, black));
    background-image: linear-gradient(to bottom, #1a5d9433, black 50%);
  }
}

.card {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000;
          perspective: 1000;
  border: 2.5px solid rgba(255, 255, 255, 0.2);
  border-right: rgba(255, 255, 255, 0.4);
  border-bottom: rgba(255, 255, 255, 0.4);
}

@media (min-width: 0px) {
  .card {
    background: linear-gradient(-135deg, rgba(227, 206, 206, 0.271) 5%, rgba(31, 31, 31, 0.344));
    border-radius: 15px 15px 0px 0px;
    width: 100;
    height: 100%;
  }
}

@media (min-width: 960px) {
  .card {
    background: linear-gradient(-135deg, rgba(227, 206, 206, 0.11) 25%, rgba(227, 206, 206, 0.174));
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 100%;
    padding-right: 10px;
  }
}

@media (min-width: 0px) {
  .testface {
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 960px) {
  .testface {
    background-size: cover;
    border-radius: 40px 40px 0px 0px;
    width: 100%;
    height: 100%;
  }
}

.subcard {
  opacity: 1;
  border-radius: 15px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 15cm;
          perspective: 15cm;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  background: linear-gradient(135deg, rgba(80, 68, 68, 0.22) 5%, rgba(0, 0, 0, 0.344));
  border: 1px solid rgba(240, 214, 214, 0.179);
  -webkit-box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.5);
}

@media (min-width: 960px) {
  .subcard {
    margin-left: 15vw;
  }
}

.subcard3 {
  opacity: 0;
  margin-left: 10%;
  margin-top: 25%;
  border-radius: 15px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000;
          perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  background: linear-gradient(45deg, rgba(66, 59, 59, 0.2) 5%, rgba(0, 0, 0, 0.344));
  border: 1px solid rgba(240, 214, 214, 0.279);
  -webkit-box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.5);
}

@media (min-width: 0px) {
  .subcard3 {
    width: 80vw;
    height: 40vh;
  }
}

@media (min-width: 960px) {
  .subcard3 {
    margin-left: 15vw;
    width: 70vw;
    height: 40vh;
  }
}

.contentlayer {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  scrollbar-width: 0;
  display: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 0px) {
  .section {
    margin-left: 5%;
    margin-top: 8vh;
    width: 91.6%;
    height: 66.5vh;
    overflow-x: hidden;
  }
}

@media (min-width: 960px) {
  .section {
    margin-left: 10%;
    margin-top: 13vh;
    width: 80%;
    height: 84.9%;
  }
}

@media (min-width: 0px) {
  .sectionextended {
    margin-left: 5%;
    margin-top: 8vh;
    width: 91.6%;
    height: 70.5vh;
  }
}

@media (min-width: 960px) {
  .sectionextended {
    margin-left: 10%;
    margin-top: 13vh;
    width: 90%;
    height: 84%;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
}

@media (min-width: 0px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow-y: auto;
  }
}

@media (min-width: 960px) {
  .about {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    overflow: hidden;
  }
}

.bigtext {
  opacity: 0;
  font-size: 3rem;
}

@media (min-width: 0px) {
  .bigtext {
    padding: 0.125rem;
  }
}

@media (min-width: 960px) {
  .bigtext {
    padding: 0.5rem;
  }
}

.midtext {
  font-size: 2rem;
}

.smidtext {
  font-size: 1.75rem;
}

.smalltext {
  font-size: 1rem;
}

.underlinewrapper {
  width: 100%;
  height: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.classname {
  opacity: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.01);
}

@media (min-width: 0px) {
  .side {
    height: 30%;
    width: 99%;
  }
}

@media (min-width: 960px) {
  .side {
    height: 98%;
    width: 40%;
    margin-left: 10px;
  }
}

.blur {
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.05);
  background-image: url(../images/texture.png);
  background-size: contain;
  background-repeat: repeat;
  -webkit-box-shadow: 0px 2px 17px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 17px rgba(0, 0, 0, 0.5);
}

@media (min-width: 0px) {
  .blur {
    border: 1px solid rgba(178, 164, 135, 0.219);
  }
}

@media (min-width: 960px) {
  .blur {
    border: 1px solid rgba(178, 164, 135, 0.179);
  }
}

.blurbio {
  overflow: auto;
  padding-top: 0%;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.05);
  background-image: url(../images/texture.png);
  background-size: contain;
  background-repeat: repeat;
  -webkit-box-shadow: 0px 2px 17px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 17px rgba(0, 0, 0, 0.5);
}

@media (min-width: 0px) {
  .blurbio {
    border: 1px solid rgba(178, 164, 135, 0.219);
  }
}

@media (min-width: 960px) {
  .blurbio {
    border: 1px solid rgba(178, 164, 135, 0.179);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.blurbio::-webkit-scrollbar {
  width: 15px;
}

.blurbio::-webkit-scrollbar-track {
  border-radius: 7.5px;
  -webkit-box-shadow: inset 0 0 10px rgba(155, 155, 155, 0.25);
          box-shadow: inset 0 0 10px rgba(155, 155, 155, 0.25);
}

.blurbio::-webkit-scrollbar-thumb {
  border-radius: 7.5px;
  background-color: rgba(155, 155, 155, 0.35);
}

.bio {
  opacity: 0;
}

@media (min-width: 0px) {
  .bio {
    height: 60%;
    width: 98%;
    margin-bottom: 8px;
    margin-top: 12px;
  }
}

@media (min-width: 960px) {
  .bio {
    margin-top: 10px;
    height: 96%;
    width: 59%;
    margin-left: 12px;
  }
}

.swaptab {
  opacity: 0;
}

@media (min-width: 0px) {
  .swaptab {
    width: 98%;
    -ms-flex-item-align: center;
        align-self: center;
    margin-top: 6%;
    height: 7.5%;
    margin-bottom: .5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.5rem;
  }
}

@media (min-width: 960px) {
  .swaptab {
    width: 0;
    height: 0;
    visibility: hidden;
    margin-bottom: 0%;
  }
}

.biotab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 95%;
  width: 49.5%;
  margin-left: 0%;
}

.skillstab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 95%;
  width: 49.5%;
  margin-right: 0%;
}

#biotabradio {
  display: none;
}

#skillstabradio {
  display: none;
}

.someData {
  display: none;
}

.activeTab {
  display: block;
}

.highlightTab {
  background-color: rgba(255, 255, 255, 0.142);
  border-radius: 10px;
}

@media (min-width: 0px) {
  .header {
    height: 30%;
    width: 99%;
  }
}

@media (min-width: 960px) {
  .header {
    height: 15%;
    width: 100%;
  }
}

.linksbio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
}

@media (min-width: 0px) {
  .linksbio {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 99%;
    height: 70%;
  }
}

@media (min-width: 960px) {
  .linksbio {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 30%;
  }
}

.links {
  margin-top: 6%;
  opacity: 0;
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.biotext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  width: 60%;
  height: 100%;
}

.biotexttext {
  opacity: 0;
  font-size: 1.5rem;
}

@media (min-width: 960px) {
  .biotexttext {
    margin-left: 10%;
  }
}

.bio-content {
  font-size: 1.5rem;
  padding: 5px;
  overflow: auto;
}

@media (min-width: 960px) {
  .bio-content {
    font-size: 1.85rem;
    font-weight: 200;
  }
}

.firstskills {
  opacity: 0;
}

@media (min-width: 0px) {
  .firstskills {
    display: none;
  }
}

@media (min-width: 960px) {
  .firstskills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 53%;
  }
}

.list-header {
  margin-left: 3%;
  margin-top: 3%;
}

@media (min-width: 0px) {
  .skill-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1%;
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (min-width: 720px) {
  .skill-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2%;
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (min-width: 0px) {
  .skill-list > li {
    list-style: none;
    margin-left: 2.5%;
  }
}

@media (min-width: 720px) {
  .skill-list > li {
    list-style: none;
    margin-left: 5%;
    margin-top: -0.5%;
  }
}

@media (min-width: 0px) {
  .list-header {
    font-size: 1.25rem;
    opacity: 0.4;
    text-decoration: underline;
    margin-top: 5%;
  }
}

@media (min-width: 0px) {
  .list-header {
    font-size: 1.25rem;
    opacity: 0.4;
    text-decoration: underline;
    margin-top: 5%;
  }
}

.secondskills {
  opacity: 0;
}

@media (min-width: 0px) {
  .secondskills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 99%;
    height: 30%;
  }
}

@media (min-width: 960px) {
  .secondskills {
    display: none;
  }
}

.about-button {
  margin-bottom: 7%;
  border: thin solid rgba(191, 183, 153, 0.35);
  background-color: #121112b8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 0.5;
}

@media (min-width: 0px) {
  .about-button {
    width: 95%;
    height: 22%;
    padding: 8px 10px;
  }
}

@media (min-width: 960px) {
  .about-button {
    width: 92%;
    height: 22%;
    padding: 5px 8px;
  }
}

.about-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.alertwrapper {
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.alert {
  width: auto;
  height: auto;
  background-color: rgba(255, 255, 255, 0.723);
  color: white;
  position: absolute;
  z-index: 7;
  display: none;
}

@media (min-width: 0px) {
  .alert {
    margin-top: 20%;
  }
}

@media (min-width: 960px) {
  .alert {
    margin-top: 5%;
  }
}

.gif {
  padding: 9px;
  background-size: contain;
}

@media (min-width: 0px) {
  .gif {
    width: 80vw;
    height: 46vw;
  }
}

@media (min-width: 960px) {
  .gif {
    width: 30vw;
    height: 36vh;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196F3;
          box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.icon {
  scale: 0.75;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 0px) {
  .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 960px) {
  .project {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.projectside {
  opacity: 0;
  z-index: 2;
}

@media (min-width: 0px) {
  .projectside {
    width: 100%;
    height: 20%;
    margin-bottom: 1%;
    background-color: #4d4a4a0e;
    border-radius: 15px 15px 0px 0px;
    margin-top: -0.75%;
    margin-left: -0.5%;
    -webkit-backdrop-filter: blur(55px);
            backdrop-filter: blur(55px);
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    border-bottom: 1.25px solid rgba(255, 255, 255, 0.135);
  }
}

@media (min-width: 960px) {
  .projectside {
    position: absolute;
    width: 30%;
    height: 72.2%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-image: url(../images/texture.png);
    background-size: contain;
    background-repeat: repeat;
    border-right: 1px solid rgba(255, 255, 255, 0.135);
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    border-radius: 20px 0px 0px 0px;
    margin-top: -0.2%;
    margin-left: 0.1%;
    -webkit-box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.155);
            box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.155);
    -webkit-backdrop-filter: blur(58px);
            backdrop-filter: blur(58px);
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}

.projectcontent {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 0px) {
  .projectcontent {
    width: 120%;
    height: 68%;
    margin-left: -0.5%;
  }
}

@media (min-width: 960px) {
  .projectcontent {
    width: 100%;
    height: 100%;
    margin-left: 0;
    overflow-x: scroll;
  }
}

.projectside-content {
  opacity: 0;
}

@media (min-width: 0px) {
  .projectside-content {
    display: none;
  }
}

@media (min-width: 960px) {
  .projectside-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: -10%;
    font-size: 1.5rem;
    margin-left: 2.5%;
    width: 100%;
    height: 70%;
  }
}

.projectswrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 150%;
}

@media (min-width: 0px) {
  .projectswrapper {
    padding-right: 10%;
    height: 106.5%;
  }
}

@media (min-width: 960px) {
  .projectswrapper {
    padding-right: 0%;
    margin-left: 5px;
    height: 98%;
  }
}

.projectitem {
  cursor: -webkit-grab;
  cursor: grab;
  opacity: 0.8;
  margin: 3%;
  margin-left: 0;
}

@media (min-width: 0px) {
  .projectitem {
    min-width: 77%;
    height: 95%;
  }
}

@media (min-width: 960px) {
  .projectitem {
    min-width: 40%;
    height: 90%;
  }
}

.dragscroll {
  cursor: -o-grab;
  cursor: -webkit-grab;
}

@media (min-width: 0px) {
  .space {
    min-width: 4.5%;
    height: 30px;
  }
}

@media (min-width: 960px) {
  .space {
    min-width: 40%;
    height: 30px;
  }
}

@media (min-width: 0px) {
  .space2 {
    min-width: 8.5%;
    height: 30px;
  }
}

@media (min-width: 960px) {
  .space2 {
    min-width: 20%;
    height: 30px;
  }
}

.eye {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.201)), color-stop(30%, rgba(27, 27, 27, 0.188)));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.201), rgba(27, 27, 27, 0.188) 30%);
  border-top: 2.5px solid rgba(255, 255, 255, 0.323);
  border-left: 1px solid rgba(255, 255, 255, 0.05);
  border-right: 1px solid rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  width: 45px;
  height: 30px;
  border-radius: 50% 50% 50% 50%;
  padding-top: 3px;
  padding-bottom: 1px;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  overflow: hidden;
}

@media (min-width: 0px) {
  .eye {
    display: none;
  }
}

@media (min-width: 960px) {
  .eye {
    display: block;
  }
}

.pupil {
  background: rgba(255, 255, 255, 0.242);
  width: 20px;
  height: 20px;
  border: 1.5px solid rgba(255, 255, 255, 0.273);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
}

.eye2 {
  margin-left: 5%;
}

.eyewrapper {
  margin-left: 46%;
  cursor: pointer;
  margin-top: -2%;
  opacity: 0;
  height: 100%;
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.eyewrapper:hover .eye1 {
  scale: 1 0.92;
  -webkit-transform: rotate(-10deg) translatex(-50%) translatey(-20%);
          transform: rotate(-10deg) translatex(-50%) translatey(-20%);
}

.eyewrapper:hover .eye2 {
  scale: 1 0.92;
  -webkit-transform: rotate(10deg) translatex(-50%);
          transform: rotate(10deg) translatex(-50%);
}

.eyewrapper:hover .eye1 .pupil {
  scale: 1.1;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.eyewrapper:hover .eye2 .pupil {
  scale: 1.1;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

@media (min-width: 0px) {
  .x {
    display: block;
    opacity: 1;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@media (min-width: 960px) {
  .x {
    -webkit-transform: translatex(200%);
            transform: translatex(200%);
    display: none;
  }
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

@media (min-width: 0px) {
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 960px) {
  .contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}

.contactside {
  opacity: 0;
  z-index: 2;
}

@media (min-width: 0px) {
  .contactside {
    width: 100%;
    height: 20%;
    margin-bottom: 1%;
    background-color: #4d4a4a0e;
    border-radius: 20px 0px 0px 0px;
    margin-left: -0.5%;
    border-bottom: 1.25px solid rgba(255, 255, 255, 0.135);
  }
}

@media (min-width: 960px) {
  .contactside {
    width: 35%;
    height: 100%;
    background-image: url(../images/texture.png);
    background-size: contain;
    background-repeat: repeat;
    border-right: 1px solid rgba(255, 255, 255, 0.135);
    border-bottom: 3px solid rgba(255, 255, 255, 0.012);
    border-top: 1px solid rgba(255, 255, 255, 0.012);
    margin-left: 0.2%;
    margin-right: 4.25%;
    -webkit-transform: translateY();
            transform: translateY();
    -webkit-box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.155);
            box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.155);
  }
}

.contactcontent {
  opacity: 0;
  border-top: 2px solid rgba(255, 255, 255, 0.125);
  border-left: 2px solid rgba(255, 255, 255, 0.125);
  border-right: 2px solid rgba(255, 255, 255, 0.125);
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}

@media (min-width: 0px) {
  .contactcontent {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 95%;
    height: 80%;
    margin-top: 20%;
    border-radius: 15px 15px 0 0;
    background-color: rgba(0, 0, 0, 0.175);
  }
}

@media (min-width: 960px) {
  .contactcontent {
    width: 58%;
    height: 92%;
    margin-top: 5%;
    border-radius: 20px 20px 0 0;
    background-color: rgba(255, 255, 255, 0.02);
  }
}

.random-word {
  font-weight: 300;
}

@media (min-width: 0px) {
  .random-word {
    text-align: left;
    font-size: 1.75rem;
    height: 25%;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (min-width: 720px) {
  .random-word {
    font-size: 2.25rem;
  }
}

@media (min-width: 960px) {
  .random-word {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: start;
        align-self: flex-start;
    height: 25%;
    width: 80%;
    margin-left: 3%;
    margin-top: 12%;
    font-weight: 400;
    text-align: start;
    font-size: 2.25rem;
  }
}

@-webkit-keyframes slidedown {
  0% {
    opacity: 50;
  }
  5% {
    opacity: 0;
    -webkit-transform: translateY(0.5em);
            transform: translateY(0.5em);
  }
  7% {
    -webkit-transform: translateY(-1em);
            transform: translateY(-1em);
  }
  10% {
    opacity: 0;
  }
  20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 100;
  }
}

@keyframes slidedown {
  0% {
    opacity: 50;
  }
  5% {
    opacity: 0;
    -webkit-transform: translateY(0.5em);
            transform: translateY(0.5em);
  }
  7% {
    -webkit-transform: translateY(-1em);
            transform: translateY(-1em);
  }
  10% {
    opacity: 0;
  }
  20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 100;
  }
}

.sociallinks {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 0px) {
  .sociallinks {
    margin-top: 10%;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 960px) {
  .sociallinks {
    margin-top: 0;
    margin-left: 3%;
    width: 60%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.project-item-wrapper {
  margin: 10px;
}

.project-item-image {
  width: 100%;
  height: 40%;
  border-radius: 5px;
}

.underline {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}

.project-item-header {
  font-size: 1.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.project-item-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  margin-bottom: 1%;
}

.project-item-tag {
  background-color: rgba(255, 255, 255, 0.3);
  margin-left: 3%;
  padding: 3px;
  border-radius: 7.5px;
}

@media (min-width: 0px) {
  .project-item-tag {
    margin-top: 5%;
    font-size: 0.75rem;
  }
}

@media (min-width: 960px) {
  .project-item-tag {
    margin-top: 1%;
    font-size: 1rem;
  }
}

.project-item-description {
  margin-top: 2%;
  font-size: 1rem;
}
/*# sourceMappingURL=layout.css.map */